<% title "Constituencies" %>

<table>
  <tr>
    <th>Number</th>
  </tr>
  <% for constituency in @constituencies %>
    <tr>
      <td><%= constituency.number %></td>
      <td><%= link_to "Show", constituency %></td>
      <td><%= link_to "Edit", edit_constituency_path(constituency) %></td>
      <td><%= link_to "Destroy", constituency, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Constituency", new_constituency_path %></p>
